<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-kingdom" >
	<tr>
		<td>
			<f:translate key="tx_kingdom_domain_model_entity.title" />
		</td>
		<td>
		{entity.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kingdom_domain_model_entity.identifier" />
		</td>
		<td>
		{entity.identifier}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kingdom_domain_model_entity.description" />
		</td>
		<td>
		{entity.description}
		</td>
	</tr>
</table>
</html>
