<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Entity:
          List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
    <h1>Listing for Entity</h1>

    <f:flashMessages />

    <table  class="tx_kingdom" >
        <tr>
            <th><f:translate key="tx_kingdom_domain_model_entity.title" /></th>
            <th><f:translate key="tx_kingdom_domain_model_entity.identifier" /></th>
            <th><f:translate key="tx_kingdom_domain_model_entity.description" /></th>
            <th> </th>
            <th> </th>
        </tr>

        <f:for each="{entities}" as="entity">
            <tr>
                <td><f:link.action action="show" arguments="{entity : entity}">{entity.title}</f:link.action></td>
                <td><f:link.action action="show" arguments="{entity : entity}">{entity.identifier}</f:link.action></td>
                <td><f:link.action action="show" arguments="{entity : entity}">{entity.description}</f:link.action></td>
                <td><f:link.action action="edit" arguments="{entity : entity}">Edit</f:link.action></td>
                <td><f:link.action action="delete" arguments="{entity : entity}">Delete</f:link.action></td>
            </tr>
        </f:for>
    </table>

    <f:link.action action="new">New Entity</f:link.action>
</f:section>
</html>
